@using ProjeCV.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBL_SKILLS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="display:none">ID</th>
            <th>Yeteneklerim</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var x in Model)
        {
            <tr>
                <th style="display:none">@x.ID</th>
                <td>@x.SKILL</td>
                <td>@Html.ActionLink("Sil", "YetenekSil", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm(' Bu Yeteneğini Silmek İstiyor Musun?')" })</td>
                <td><a href="/Yetenekler/VeriGetir/@x.ID" class="btn btn-success">Güncelle</a></td>

            </tr>
        }

    </tbody>

</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

<a href="/Yetenekler/YeniYetenek/" class="btn btn-info">Yeni Yetenek Ekle</a>
