
@{
    ViewBag.Title = "YeniDeneyim";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Yeni Yetenek</label>
        <input type="text" class="form-control" name="SKILL" />
    </div>
    
    <br />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

